body {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
#main-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 500px;
    height: 600px;
    background-color: black;
    margin-top: 50px;
    padding-bottom: 25px;
    border-radius: 20px;
    box-shadow: 0px 12px 16px 0px gray;
}



button {
    width: 100px;
    height: 70px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bolder;
    border: 3px solid black;
}

#first-row,
#second-row,
#third-row,
#fourth-row,
#clear-delete-button {
    margin-bottom: 5px;
}

.clear-button,
.delete-button {
    width: 204px;
}

.clear-button {
    background-color: violet;
}

.delete-button {
    background-color: red;
}
.display {
    height: 170px;
    width: 411px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    
}

.footer {
    display: flex;
    font-size: larger;
    font-weight: bolder;
}

.current-number {
    font-size: 50px;
    padding-right: 20px;
    word-wrap: break-word;
;}
